.kiru{
    background-color: rgb(206, 179, 179);
}
div{
    text-align: center;
    background-image: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuAHDP0FRVHe4d_pte-QmcSUTJSQ97lL6q0UKAda-SvEe49XWM28TaJosDG9dCVhwbYpo&usqp=CAU"
}